<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid p-0 kahina-fond">
      <div class="modal" tabindex="-1" role="dialog" id="changePasswordModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded">
            <div class="modal-header">
              <h5 class="modal-title">Changer de mot de passe</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group col-12">
              <label for="password_register">Mot de passe</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="password_register"
                  placeholder="Votre mot de passe"
                  onfocus="showPasswordStrength()"
                  onblur="hidePasswordStrength()"
                  maxlength="32"
                />
                <div
                  class="input-group-append"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="right"
                  title="<div class='justify-content-center'><h3>Sécurité du mot de passe</h3><div class='mx-4'><ul><b>Types de caractères : </b><li><b>Majuscules</b></li><li><b>Minuscules</b></li><li><b>Chiffres<li><b>Caractrères spéciaux (!@./#{]=+ etc ...)</b></li></b></ul><ul><li><b>Insuffisant :</b> Doit contenir plus de 8 caractères</li><li><b>Faible :</b> Contient un seul type de caractères</li><li><b>Moyen :</b> Contient deux types de caractères</li><li><b>Fort :</b> Contient trois types de caractères</li><li><b>Très Fort :</b> Contient 4 types de caractères.</li></ul></div></div>"
                >
                  <span class="input-group-text" id="password_explanation">
                    ?</span
                  >
                </div>
              </div>
              <div id="password_strength" class="progress d-none">
                <div
                  id="password_strength_bar"
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 20%;"
                  aria-valuenow="1"
                  aria-valuemin="0"
                  aria-valuemax="5"
                >
                  Insuffisant
                </div>
              </div>
              <small id="password_register_alert"></small>
            </div>
            <div class="form-group col-12">
              <label for="password_confirmation_register"
                >Confirmer votre mot de passe</label
              >
              <input
                type="password"
                class="form-control"
                id="password_confirmation_register"
                placeholder="Confirmer votre mot de passe"
              />
              <small id="password_confirmation_register_alert"></small>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand vertical-align-center" href="#"
          ><img
            src="../assets/kahina-logo.png"
            width="150"
            height="70"
            class="d-inline-block align-top"
            alt=""
        /></span>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html"
              >Mes Informations <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./events.html">Mes événements</a>
          </li>
        </ul>
        <button class="btn btn-danger ml-auto" onClick="disconnect()">
          Logout
        </button>
      </nav>
      <div class="row px-4 pb-4">
        <div class="col-12 col-md-6" id="info_container">
          <h2 class="mt-2">
            <span class="badge-pill badge-light">Mes Informations</span>
          </h2>
          <div class="card border rounded px-4">
            <div class="card-body">
              <form class="p-4 justify-content-center row">
                <div class="form-group col-12 col-md-6 mb-4">
                  <label for="email_register">Addresse E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email_register"
                    aria-describedby="emailHelp"
                    placeholder="identifiant@hote.fr"
                  />
                  <small id="email_register_alert"></small>
                </div>
                <div class="form-group col-12 col-md-6 mb-4">
                  <label for="phone_register">Téléphone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone_register"
                    placeholder="+33699..."
                  />
                  <small id="phone_register_alert"></small>
                </div>
                <div class="form-group col-6 mb-4">
                  <label for="firstname_register">Prénom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname_register"
                    placeholder="Michel"
                  />
                  <small id="firstname_register_alert"></small>
                </div>
                <div class="form-group col-6 mb-4">
                  <label for="lastname_register">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastname_register"
                    placeholder="Dupont"
                  />
                  <small id="lastname_register_alert"></small>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <button
                    class="btn btn-primary w-100"
                    data-toggle="modal"
                    data-target="#changePasswordModal"
                    type="button"
                  >
                    Changer de mot de passe
                  </button>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <button class="btn btn-info w-100" type="submit" disabled>
                    Sauvegarder
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 px-4" id="contacts_container">
          <h2 class="mt-2">
            <span class="badge-pill badge-light">Mes Contacts</span>
          </h2>
          <div id="contacts">
            <div class="card border rounded px-4">
              <div class="card-body justify-content-center">
                <div class="w-100 text-center">
                  <button
                    class="btn btn-info rounded-circle"
                    onclick="openContactAdditionModal()"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card border rounded-left px-4 text-center"
          id="layout_buttons"
        >
          <div class="card-body row p-2">
            <button
              class="btn btn-light active col-12 p-0"
              onclick="horizontalLayout()"
            >
              <img src="../assets/baseline_view_column_black_18dp.png" />
            </button>
            <button class="btn btn-light col-12 p-0" onclick="verticalLayout()">
              <img src="../assets/baseline_horizontal_split_black_18dp.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./js/changeLayout.js"></script>
    <script type="text/javascript" src="./js/user_data_format.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      function disconnect() {
        window.location.replace("../index.html");
      }
    </script>
  </body>
</html>
